@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: "interRegular";
    src: url("/src/assets/fonts/Inter-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: "interRegular", sans-serif;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
